<h1>Search Games</h1>

<%= form_with url: search_games_path, method: :get, local: true do %>
  <div>
    <%= label_tag :query, "Search for a game:" %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search" %>
  </div>
<% end %>

<% if @results.any? %>
  <h2>Results</h2>
  <ul>
    <% @results['results'].each do |game| %>
      <li>
        <%= game['name'] %>
        <% if game['background_image'] %>
          <img src="<%= game['background_image'] %>" alt="<%= game['name'] %>" width="100">
        <% end %>
        <%= link_to 'Add', new_game_path(title: game['name'], rawg_id: game['id']) %>
      </li>
    <% end %>
  </ul>
<% end %>
